rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /presskits/{slug} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && (
        !('ownerId' in resource.data) || 
        resource.data.ownerId == null || 
        resource.data.ownerId == request.auth.uid
      );
    }
  }
}
